## Import libraries

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/covid-data.csv')
df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-09,NaN,0.0,0.000,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-02-16,NaN,0.0,0.000,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-02-23,NaN,0.0,0.000,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-01,1.0,1.0,0.143,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-08,1.0,0.0,0.143,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

## Analysing the data

In [3]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
# get some columns to work with
data = df[['location', 'continent','date', 'total_cases', 'total_deaths', 'population']]
data.head(10)

      location continent        date  total_cases  total_deaths  population
0  Afghanistan      Asia  2020-01-05          NaN           NaN  41128772.0
1  Afghanistan      Asia  2020-01-12          NaN           NaN  41128772.0
2  Afghanistan      Asia  2020-01-19          NaN           NaN  41128772.0
3  Afghanistan      Asia  2020-01-26          NaN           NaN  41128772.0
4  Afghanistan      Asia  2020-02-02          NaN           NaN  41128772.0
5  Afghanistan      Asia  2020-02-09          NaN           NaN  41128772.0
6  Afghanistan      Asia  2020-02-16          NaN           NaN  41128772.0
7  Afghanistan      Asia  2020-02-23          NaN           NaN  41128772.0
8  Afghanistan      Asia  2020-03-01          1.0           NaN  41128772.0
9  Afghanistan      Asia  2020-03-08          1.0           NaN  41128772.0

In [5]:
# Create a column with percentage of deaths
data['death_percentage'] = round(data['total_deaths'] / data['total_cases'] * 100, 2)
data

/tmp/ipykernel_38089/3036997095.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['death_percentage'] = round(data['total_deaths'] / data['total_cases'] * 100, 2)

,location,continent,date,total_cases,total_deaths,population,death_percentage
0,Afghanistan,Asia,2020-01-05,NaN,NaN,41128772.0,NaN
1,Afghanistan,Asia,2020-01-12,NaN,NaN,41128772.0,NaN
2,Afghanistan,Asia,2020-01-19,NaN,NaN,41128772.0,NaN
3,Afghanistan,Asia,2020-01-26,NaN,NaN,41128772.0,NaN
4,Afghanistan,Asia,2020-02-02,NaN,NaN,41128772.0,NaN
...,...,...,...,...,...,...,...
276435,Zimbabwe,Africa,2023-12-10,265975.0,5730.0,16320539.0,2.15
276436,Zimbabwe,Africa,2023-12-17,266025.0,5730.0,16320539.0,2.15
276437,Zimbabwe,Africa,2023-12-24,266048.0,5731.0,16320539.0,2.15
276438,Zimbabwe,Africa,2023-12-31,266071.0,5731.0,16320539.0,2.15
276439,Zimbabwe,Africa,2024-01-07,266071.0,5731.0,16320539.0,2.15

In [6]:
# get the columns that is not null
data[data['death_percentage'].notnull()]

,location,continent,date,total_cases,total_deaths,population,death_percentage
12,Afghanistan,Asia,2020-03-29,91.0,2.0,41128772.0,2.20
19,Afghanistan,Asia,2020-04-05,274.0,5.0,41128772.0,1.82
26,Afghanistan,Asia,2020-04-12,521.0,15.0,41128772.0,2.88
33,Afghanistan,Asia,2020-04-19,908.0,30.0,41128772.0,3.30
40,Afghanistan,Asia,2020-04-26,1330.0,43.0,41128772.0,3.23
...,...,...,...,...,...,...,...
276435,Zimbabwe,Africa,2023-12-10,265975.0,5730.0,16320539.0,2.15
276436,Zimbabwe,Africa,2023-12-17,266025.0,5730.0,16320539.0,2.15
276437,Zimbabwe,Africa,2023-12-24,266048.0,5731.0,16320539.0,2.15
276438,Zimbabwe,Africa,2023-12-31,266071.0,5731.0,16320539.0,2.15
276439,Zimbabwe,Africa,2024-01-07,266071.0,5731.0,16320539.0,2.15

In [7]:
# Selecting data for Brazil and total_cases
data[(data['location'] == 'Brazil') & (data['total_cases'].notnull())]

,location,continent,date,total_cases,total_deaths,population,death_percentage
33215,Brazil,South America,2020-03-01,1.0,NaN,215313504.0,NaN
33216,Brazil,South America,2020-03-08,13.0,NaN,215313504.0,NaN
33218,Brazil,South America,2020-03-15,84.0,NaN,215313504.0,NaN
33225,Brazil,South America,2020-03-22,904.0,11.0,215313504.0,1.22
33232,Brazil,South America,2020-03-29,3417.0,92.0,215313504.0,2.69
...,...,...,...,...,...,...,...
34358,Brazil,South America,2023-12-10,37519960.0,702116.0,215313504.0,1.87
34359,Brazil,South America,2023-12-17,37519960.0,702116.0,215313504.0,1.87
34360,Brazil,South America,2023-12-24,37519960.0,702116.0,215313504.0,1.87
34361,Brazil,South America,2023-12-31,37519960.0,702116.0,215313504.0,1.87
34362,Brazil,South America,2024-01-07,37519960.0,702116.0,215313504.0,1.87

In [8]:
# Selecting data for Brazil and total_cases not NaN between 2020-03-01 and 2022-03-31
data[(data['location'] == 'Brazil') & (data['total_cases'].notnull()) & (data['date'] >= '2020-03-01') & (data['date'] <= '2022-03-31')]

,location,continent,date,total_cases,total_deaths,population,death_percentage
33215,Brazil,South America,2020-03-01,1.0,NaN,215313504.0,NaN
33216,Brazil,South America,2020-03-08,13.0,NaN,215313504.0,NaN
33218,Brazil,South America,2020-03-15,84.0,NaN,215313504.0,NaN
33225,Brazil,South America,2020-03-22,904.0,11.0,215313504.0,1.22
33232,Brazil,South America,2020-03-29,3417.0,92.0,215313504.0,2.69
...,...,...,...,...,...,...,...
33932,Brazil,South America,2022-02-27,28578647.0,647390.0,215313504.0,2.27
33939,Brazil,South America,2022-03-06,28973799.0,651255.0,215313504.0,2.25
33946,Brazil,South America,2022-03-13,29305114.0,654556.0,215313504.0,2.23
33953,Brazil,South America,2022-03-20,29573112.0,656798.0,215313504.0,2.22
33960,Brazil,South America,2022-03-27,29802257.0,658566.0,215313504.0,2.21

In [9]:
# Looking at Total Cases vs Population

data['CasesPopulation'] = round(data['total_cases'] / data['population'] * 100, 2)
data.head(10)

/tmp/ipykernel_38089/294462844.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['CasesPopulation'] = round(data['total_cases'] / data['population'] * 100, 2)

,location,continent,date,total_cases,total_deaths,population,death_percentage,CasesPopulation
0,Afghanistan,Asia,2020-01-05,NaN,NaN,41128772.0,NaN,NaN
1,Afghanistan,Asia,2020-01-12,NaN,NaN,41128772.0,NaN,NaN
2,Afghanistan,Asia,2020-01-19,NaN,NaN,41128772.0,NaN,NaN
3,Afghanistan,Asia,2020-01-26,NaN,NaN,41128772.0,NaN,NaN
4,Afghanistan,Asia,2020-02-02,NaN,NaN,41128772.0,NaN,NaN
5,Afghanistan,Asia,2020-02-09,NaN,NaN,41128772.0,NaN,NaN
6,Afghanistan,Asia,2020-02-16,NaN,NaN,41128772.0,NaN,NaN
7,Afghanistan,Asia,2020-02-23,NaN,NaN,41128772.0,NaN,NaN
8,Afghanistan,Asia,2020-03-01,1.0,NaN,41128772.0,NaN,0.0
9,Afghanistan,Asia,2020-03-08,1.0,NaN,41128772.0,NaN,0.0

In [10]:
# Selecting data for Brazil and all columns not NaN

data[(data['location'] == 'Brazil') & (data['total_cases'].notnull()) & (data['total_deaths'].notnull()) & (data['population'].notnull())]

,location,continent,date,total_cases,total_deaths,population,death_percentage,CasesPopulation
33225,Brazil,South America,2020-03-22,904.0,11.0,215313504.0,1.22,0.00
33232,Brazil,South America,2020-03-29,3417.0,92.0,215313504.0,2.69,0.00
33239,Brazil,South America,2020-04-05,9056.0,359.0,215313504.0,3.96,0.00
33246,Brazil,South America,2020-04-12,19638.0,1056.0,215313504.0,5.38,0.01
33253,Brazil,South America,2020-04-19,33682.0,2141.0,215313504.0,6.36,0.02
...,...,...,...,...,...,...,...,...
34358,Brazil,South America,2023-12-10,37519960.0,702116.0,215313504.0,1.87,17.43
34359,Brazil,South America,2023-12-17,37519960.0,702116.0,215313504.0,1.87,17.43
34360,Brazil,South America,2023-12-24,37519960.0,702116.0,215313504.0,1.87,17.43
34361,Brazil,South America,2023-12-31,37519960.0,702116.0,215313504.0,1.87,17.43
34362,Brazil,South America,2024-01-07,37519960.0,702116.0,215313504.0,1.87,17.43

In [11]:
# Looking at Unique location with max total cases compared to population

data.groupby(['location', 'population'])['CasesPopulation'].max().sort_values(ascending=False).to_frame().head(10)

                           CasesPopulation
location       population
San Marino     33690.0               75.07
Brunei         449002.0              74.44
Cyprus         896007.0              73.99
Austria        8939617.0             68.03
South Korea    51815808.0            66.72
Faeroe Islands 53117.0               65.25
Slovenia       2119843.0             63.89
Gibraltar      32677.0               62.89
Martinique     367512.0              62.68
Luxembourg     647601.0              60.23

In [31]:
# Looking at continents with the highest total deaths per population
data.groupby('continent').agg('total_deaths').max().sort_values(ascending=False).to_frame().head(10)
# data[data['continent'].notnull()].groupby('continent').agg('total_deaths').max().sort_values(ascending=False).to_frame()

               total_deaths
continent
North America     1161235.0
South America      702116.0
Asia               533364.0
Europe             401153.0
Africa             102595.0
Oceania             24087.0

In [32]:
# Looking at locations with the highest total deaths per population where continent is not null
data.groupby('location').agg('total_deaths').max().sort_values(ascending=False).to_frame().head(10)
# data.groupby('location').agg('total_deaths').max().sort_values(ascending=False).to_frame().head(10)

                     total_deaths
location
World                   7010555.0
High income             2951746.0
Upper middle income     2665884.0
Europe                  2092105.0
North America           1637914.0
Asia                    1636070.0
South America           1354293.0
Lower middle income     1340948.0
European Union          1254750.0
United States           1161235.0

## Global numbers

In [76]:
# check the sum of total number of new cases where total cases is not null

df[df['total_cases'].notnull()].groupby('date').agg({'new_cases': 'sum'}).head(10)

# data.groupby('date').agg('total_cases').sum().to_frame().head(10)

            new_cases
date
2020-01-05        9.0
2020-01-12      180.0
2020-01-19      362.0
2020-01-26     7589.0
2020-02-02    50170.0
2020-02-09    91959.0
2020-02-16   125806.0
2020-02-23    37063.0
2020-03-01    34452.0
2020-03-08    89118.0

In [77]:
# check the sum of total number of new cases and sum of new_deaths where

# df.groupby('date').agg({'total_cases': 'sum', 'new_deaths': 'sum'}).head(10)

df[df['total_cases'].notnull()].groupby('date').agg({'new_cases': 'sum', 'new_deaths': 'sum'}).head(20)

            new_cases  new_deaths
date
2020-01-05        9.0        15.0
2020-01-12      180.0         4.0
2020-01-19      362.0         8.0
2020-01-26     7589.0       227.0
2020-02-02    50170.0      1243.0
2020-02-09    91959.0      2180.0
2020-02-16   125806.0      3457.0
2020-02-23    37063.0      2763.0
2020-03-01    34452.0      2088.0
2020-03-08    89118.0      2837.0
2020-03-15   281942.0     12491.0
2020-03-22   791658.0     46362.0
2020-03-29  1577787.0    105561.0
2020-04-05  2020561.0    167999.0
2020-04-12  2227894.0    209750.0
2020-04-19  2129973.0    215756.0
2020-04-26  2239716.0    189769.0
2020-05-03  2234189.0    172938.0
2020-05-10  2367242.0    161908.0
2020-05-17  2476532.0    149191.0

In [79]:
# Total of new cases and new deaths
df[['new_cases', 'new_deaths']].sum()

new_cases     3.279803e+09
new_deaths    2.917254e+07
dtype: float64

## Working with Vaccination data

In [80]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [83]:
# select columns
df[['continent', 'location', 'date', 'population', 'new_vaccinations']].head(10)

  continent     location        date  population  new_vaccinations
0      Asia  Afghanistan  2020-01-05    41128772               NaN
1      Asia  Afghanistan  2020-01-12    41128772               NaN
2      Asia  Afghanistan  2020-01-19    41128772               NaN
3      Asia  Afghanistan  2020-01-26    41128772               NaN
4      Asia  Afghanistan  2020-02-02    41128772               NaN
5      Asia  Afghanistan  2020-02-09    41128772               NaN
6      Asia  Afghanistan  2020-02-16    41128772               NaN
7      Asia  Afghanistan  2020-02-23    41128772               NaN
8      Asia  Afghanistan  2020-03-01    41128772               NaN
9      Asia  Afghanistan  2020-03-08    41128772               NaN

In [85]:
# Create a column with rolling sum of new_vaccinations
df['RollingPeopleVaccinated'] = df.groupby('location')['new_vaccinations'].cumsum()

In [86]:
# Create a column with percentage of vaccinated
df['PercentageVaccinated'] = (df['RollingPeopleVaccinated'] / df['population']) * 100

In [93]:
# Create a new dataframe with selected columns
data = df[[
    'continent', 'location', 'date', 'population', 'new_vaccinations', 
    'RollingPeopleVaccinated', 'PercentageVaccinated']].sort_values(by=['location', 'date'])

data

,continent,location,date,population,new_vaccinations,RollingPeopleVaccinated,PercentageVaccinated
0,Asia,Afghanistan,2020-01-05,41128772,NaN,NaN,NaN
1,Asia,Afghanistan,2020-01-12,41128772,NaN,NaN,NaN
2,Asia,Afghanistan,2020-01-19,41128772,NaN,NaN,NaN
3,Asia,Afghanistan,2020-01-26,41128772,NaN,NaN,NaN
4,Asia,Afghanistan,2020-02-02,41128772,NaN,NaN,NaN
...,...,...,...,...,...,...,...
276435,Africa,Zimbabwe,2023-12-10,16320539,NaN,NaN,NaN
276436,Africa,Zimbabwe,2023-12-17,16320539,NaN,NaN,NaN
276437,Africa,Zimbabwe,2023-12-24,16320539,NaN,NaN,NaN
276438,Africa,Zimbabwe,2023-12-31,16320539,NaN,NaN,NaN
276439,Africa,Zimbabwe,2024-01-07,16320539,NaN,NaN,NaN

In [94]:
# select all columns that are not null
data[data['PercentageVaccinated'].notnull()]

,continent,location,date,population,new_vaccinations,RollingPeopleVaccinated,PercentageVaccinated
436,Asia,Afghanistan,2021-05-27,41128772,2859.0,2859.0,0.006951
443,Asia,Afghanistan,2021-06-03,41128772,4015.0,6874.0,0.016713
681,Asia,Afghanistan,2022-01-27,41128772,6868.0,13742.0,0.033412
771,Asia,Afghanistan,2022-04-27,41128772,383.0,14125.0,0.034343
909,Asia,Afghanistan,2022-09-12,41128772,9447.0,23572.0,0.057313
...,...,...,...,...,...,...,...
276287,Africa,Zimbabwe,2022-09-25,16320539,3446.0,10782980.0,66.069999
276288,Africa,Zimbabwe,2022-09-26,16320539,2632.0,10785612.0,66.086126
276289,Africa,Zimbabwe,2022-09-27,16320539,11526.0,10797138.0,66.156749
276294,Africa,Zimbabwe,2022-10-02,16320539,2276.0,10799414.0,66.170694
276295,Africa,Zimbabwe,2022-10-03,16320539,1978.0,10801392.0,66.182814

## Create some visualizations

In [16]:
import matplotlib.pyplot as plt
import plotly.express as px

In [17]:
# Create a dataframe with the continents and the percentage total deaths
data_vis1 = df.groupby('continent').agg('total_deaths').max().sort_values(ascending=False).to_frame()

In [18]:
data_vis1

               total_deaths
continent
North America     1161235.0
South America      702116.0
Asia               533364.0
Europe             401153.0
Africa             102595.0
Oceania             24087.0

In [19]:
# Create a bar chart using Plotly Express
fig = px.bar(data_vis1, x=data_vis1.index, y='total_deaths', color='total_deaths',
             labels={'total_deaths': 'Total Deaths'},
             title='Total Deaths per Continent',
             color_continuous_scale=px.colors.sequential.Plasma,
             text='total_deaths')  # Display total deaths as text on the bars

# Customize the layout
fig.update_layout(xaxis_title='Continent', yaxis_title='Total Deaths',
                  coloraxis_colorbar_title='Total Deaths',
                  showlegend=False)  # Hide legend if not needed

# Show the plot
fig.show()

In [20]:
data_vis2 = data[data['continent'].notnull()].groupby('location').agg('total_deaths').max().sort_values(ascending=False).to_frame().head(10)
data_vis2

                total_deaths
location
United States      1161235.0
Brazil              702116.0
India               533364.0
Russia              401153.0
Mexico              334958.0
United Kingdom      232112.0
Peru                221583.0
Italy               194690.0
Germany             174979.0
France              167985.0

In [21]:
# Create a bar chart using Plotly Express
fig = px.bar(data_vis2, x=data_vis2.index, y='total_deaths', color='total_deaths',
             labels={'total_deaths': 'Total Deaths'},
             title='Total Deaths per Country',
             color_continuous_scale=px.colors.sequential.Plasma,
             text='total_deaths')  # Display total deaths as text on the bars

# Customize the layout
fig.update_layout(xaxis_title='Location', yaxis_title='Total Deaths',
                  coloraxis_colorbar_title='Total Deaths',
                  showlegend=False)  # Hide legend if not needed

# Show the plot
fig.show()

In [33]:
data_vis3 = data.groupby(['location', 'population'])['CasesPopulation'].max().sort_values(ascending=False).to_frame().head(10)
data_vis3

                           CasesPopulation
location       population
San Marino     33690.0               75.07
Brunei         449002.0              74.44
Cyprus         896007.0              73.99
Austria        8939617.0             68.03
South Korea    51815808.0            66.72
Faeroe Islands 53117.0               65.25
Slovenia       2119843.0             63.89
Gibraltar      32677.0               62.89
Martinique     367512.0              62.68
Luxembourg     647601.0              60.23

In [35]:
# Create a bar chart using Plotly Express

# Resetting index to make 'location' and 'population' regular columns
data_vis3_reset = data_vis3.reset_index()

# Create a bar chart using Plotly Express
fig = px.bar(data_vis3_reset, x='location', y='CasesPopulation', color='CasesPopulation',
             labels={'CasesPopulation': 'Cases per 100,000 Population'},
             title='Top 10 Locations with Highest Cases per 100,000 Population',
             color_continuous_scale=px.colors.sequential.Plasma,
             text='CasesPopulation')  # Display CasesPopulation as text on the bars

# Customize the layout
fig.update_layout(xaxis_title='Location', yaxis_title='Cases per 100,000 Population',
                  coloraxis_colorbar_title='Cases per 100,000 Population',
                  showlegend=False)  # Hide legend if not needed

# Show the plot
fig.show()